<!-- Top bar Start -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
        support@email.com
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
        +012-345-6789
      </div>
    </div>
  </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse"
      >
        <div class="navbar-nav mr-auto">
          <a href="/" class="nav-item nav-link">Home</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >Products</a
            >
            <div class="dropdown-menu">
              <a href="/products/filter?type=computer" class="dropdown-item"
                >Computer</a
              >
              <a href="/products/filter?type=laptop" class="dropdown-item"
                >Laptop</a
              >
              <a href="/products/filter?type=mobile" class="dropdown-item"
                >Mobile</a
              >
            </div>
          </div>
          <a href="/cart" class="nav-item nav-link">Cart</a>
          <a href="/user/checkout" class="nav-item nav-link">Checkout</a>\
          <a href="/contact" class="nav-item nav-link">Contact Us</a>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >User Account</a
            >
            <div class="dropdown-menu">
              <a href="/user/dashboard" class="dropdown-item">Dash Board</a>
              <a href="/user/wishlist" class="dropdown-item">Wishlist</a>
            </div>
          </div>
          <a href="/user/auth" class="nav-item nav-link">Login & Register</a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="/">
            <img src="/img/logo.png" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Search" />
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
          <a href="/user/wishlist" class="btn wishlist">
            <i class="fa fa-heart"></i>
            <span>(0)</span>
          </a>
          <a href="/cart" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <span>(0)</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bottom Bar End -->
