<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header', {query:''}); %>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
          <li class="breadcrumb-item"><a href="/">Sản phẩm</a></li>
          <li class="breadcrumb-item active">Liên hệ</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Contact Start -->
    <div class="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="contact-info">
              <h2>Trụ sở chính</h2>
              <h3>
                <i class="fa fa-map-marker"></i>123 Store, Los Angeles, CA, USA
              </h3>
              <h3><i class="fa fa-envelope"></i>store@example.com</h3>
              <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
              <div class="social">
                <a href="https://twitter.com/home"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="https://www.facebook.com/ReferenceToWorld"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://www.linkedin.com"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a href="https://www.instagram.com/"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.youtube.com/watch?v=0rHg0spmEbQ"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-info">
              <h2>Chi nhánh</h2>
              <h3>
                <i class="fa fa-map-marker"></i>KTX B, Đông Hòa, Dĩ An, Bình
                Dương
              </h3>
              <h3><i class="fa fa-envelope"></i>r2wteam@gmail.com</h3>
              <h3><i class="fa fa-phone"></i>+123-456-7890</h3>
              <div class="social">
                <a href="https://twitter.com/home"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a href="https://www.facebook.com/ReferenceToWorld"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://www.linkedin.com"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
                <a href="https://www.instagram.com/"
                  ><i class="fab fa-instagram"></i
                ></a>
                <a href="https://www.youtube.com/watch?v=0rHg0spmEbQ"
                  ><i class="fab fa-youtube"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="contact-form">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Tên của bạn"
                    />
                  </div>
                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Chủ đề"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="Thông điệp"
                  ></textarea>
                </div>
                <div>
                  <button class="btn" type="submit">Gửi</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="contact-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4727.103140235497!2d106.78245295854246!3d10.886453186591227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3174d89195dd95f7%3A0xcab10d143715c6bd!2zVMO0IFbEqW5oIERp4buHbiwgxJDDtG5nIEjDsmEsIFR4LiBExKkgQW4sIELDrG5oIETGsMahbmcsIFZp4buHdCBOYW0!3m2!1d10.886799!2d106.78345139999999!5e0!3m2!1svi!2s!4v1607439037838!5m2!1svi!2s"
                frameborder="0"
                style="border: 0"
                allowfullscreen=""
                aria-hidden="false"
                tabindex="0"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <%- include('../partials/footer'); %> <%- include('../partials/script'); %>
  </body>
</html>
